<!DOCTYPE html>
<html>
	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
	</head>
	<body>
		<div id="app">
        <h2 class="welcome">Welcome {{user.username}}</h2>
       


       
        </br>
        <h3 class="title">Select your stock shares and prices!</h3>
        <form v-on:submit="createMeal" class="form">
            <input v-model="foodName" placeholder= "Stock Name">    
           <input v-model="mealName" placeholder= "Number of shares">
             <input v-model="foodObj" placeholder= "Stock Price">    
            <input v-model="mealDate" type="date" placeholder="Date">
            <input type="submit" value="Submit">
        </form>
        </br>
        </br>
        </br>
        <h3 class="title">Overall Stocks</h3>

        <table class="table" id="tableClass">
            <thead>
                <tr>
                    <th>Stock Name</th>
                    <th>Number of shares</th>
                    <th>Price/share</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="x in allMeals">
                    <td>{{x.foodname}} </td>
                    <td>{{x.mealname}}</td>
                    <td>{{x.calories}}</td>
                    <td>{{x.mealdate.toLocaleDateString()}}</td>
                </tr>
            </tbody>
        </table>
</br>
        </br>
        </br>
    </div>

		 <script src="main.js"></script>
	</body>
</html>